<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title -%></title>
  </head>
  <body>
    <script type="text/javascript">
      window.initialData = 'I love this day'
    </script>
    <div id="root"><%- initialRender -%></div>
  </body>
</html>
